.pirate-crew-grid-wrapper,
.pirate-crew-grid-wrapper *,
.pirate-crew-grid-wrapper::before,
.pirate-crew-grid-wrapper::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pirate-crew-grid-wrapper figcaption,
.pirate-crew-grid-wrapper figure {
    display: block;
}

.pirate-crew-grid-wrapper figure {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

html.pirate-crew-popup-on{
    height: 100%;
    overflow: hidden;
}

.pirate-crew-personal-info,
.pirate-crew-contact-info,
.pirate-crew-flip-front,
.pirate-crew-flip-back-inner {
    display: block;
}

.pirate-crew-grid-wrapper a {
    color: #aaa;
    text-decoration: none;
}

.pirate-crew-grid-wrapper a:hover,
.pirate-crew-grid-wrapper a:active {
    color: #333;
}

.grid-style,
.circles-style {
    line-height: 1.2;
}

.clearfix::after,
.pirate-crew-grid::after {
    content: "";
    clear: both;
    display: block;
}

.pirate-crew-grid-wrapper .pirate-crew-grid {
    list-style: none;
    padding: 30px 0;
    margin: 0 -15px;
}

.pirate-crew-grid-wrapper .pirate-crew-grid.drawer-style {
    margin: 0;
}

.pirate-crew-grid-wrapper .pirate-crew-grid > .pirate-crew-grid-card {
    float: left;
    width: 25%;
    padding: 0 15px;
    margin: 0 0 30px;
    clear: none;
}

.pirate-crew-grid-wrapper .grid-2-col > .pirate-crew-grid-card {
    width: 50%;
}

.pirate-crew-grid-wrapper .grid-3-col > .pirate-crew-grid-card {
    width: 33.33%;
}

.pirate-crew-grid-wrapper .grid-4-col > .pirate-crew-grid-card {
    width: 25%;
}

.pirate-crew-grid-wrapper .grid-5-col > .pirate-crew-grid-card {
    width: 20%;
}

figure {
    overflow: hidden;
}

.pirate-crew-grid-wrapper a {
    text-decoration: none;
    box-shadow: none;
    border-bottom: 0;
    outline: none;
}

.pirate-crew-grid-wrapper p {
    line-height: 1.4;
}

.pirate-crew-grid figure {
    position: relative;
    margin: 0;
}

.pirate-crew-grid figure img {
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    border: none;
}

.pirate-crew-grid-wrapper .pirate-crew-grid h3 {
    margin: 0 0 3px;
    padding: 0;
    font-size: 1.17em;
    line-height: 1.4;
    color: #1f1f1f;
}

.pirate-crew-grid-wrapper ul {
    list-style: none;
    line-height: normal;
}

.pirate-crew-grid-wrapper .pirate-crew-social-icons {
    padding: 0;
    margin: 0 -5px;
}

ul.pirate-crew-social-icons li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
}
ul.pirate-crew-social-icons li:before {
  vertical-align: top;
  position: relative;
  content: '';
  padding: 0;
}
.pirate-crew-social-icons span {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 2px;
}

.pirate-crew-social-icons a {
    display: block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    line-height: 1;
}

.pirate-crew-social-icons a:hover {
    -moz-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

.pirate-crew-grid-wrapper .pirate-crew-contact-details {
    margin-bottom: 20px;
}

.pirate-crew-contact-details > p {
    padding: 10px 0;
    margin: 0 !important;
    border-bottom: 1px dotted rgba(35, 35, 35, 0.2);
}

.pirate-crew-contact-details span {
    min-width: 100px;
    margin-right: 6px;
}

figcaption p {
    font-size: 14px;
}

figure figcaption a,
.pirate-crew-popup-details a,
.pirate-crew-popup-items a,
.drawer-style a {
    box-shadow: none;
    border-bottom: 0;
}

.pirate-crew-grid-nav {
    display: none !important;
}

.pirate-crew-content-scrollbar {
    padding-right: 30px;
}

.pirate-crew-personal-details {
    max-height: 293px;
    overflow: hidden;
}

.pirate-crew-personal-info {
    position: relative;
    margin-bottom: 15px;
}

.pirate-crew-personal-info span {
    text-transform: uppercase;
    font-size: 0.815em;
    line-height: 1.4;
    display: block;
}

.pirate-crew-contact-info p {
    margin: 0 0 15px;
    line-height: normal;
    color: #1f1f1f;
}

.pirate-crew-coming-soon {
    text-align: center;
    color: #333;
}

.pirate-crew-grid-wrapper a.pirate-crew-nav-item,
.pirate-crew-grid-wrapper a.pirate-crew-modal-close,
.pirate-crew-grid-wrapper .pirate-crew-contact-details a,
.pirate-crew-grid-wrapper .pirate-crew-social-icons a {
    text-decoration: none;
    border: none;
}

@media (max-width:1230px) {
    .pirate-crew-grid-wrapper .grid-5-col > .pirate-crew-grid-card {
        width: 25%;
    }

}

@media (max-width:1024px) {
    .pirate-crew-grid-wrapper .pirate-crew-grid > .pirate-crew-grid-card {
        width: 33.333%;
    }

    .pirate-crew-grid-wrapper .grid-2-col > .pirate-crew-grid-card {
        width: 50%;
    }

}

@media (max-width:992px) {
    .pirate-crew-grid-wrapper .pirate-crew-grid > .pirate-crew-grid-card {
        width: 50%;
    }

}

@media (max-width:830px) {
    .pirate-crew-popup-on body {
        overflow: auto;
    }

}

@media (max-width:678px) {
    .pirate-crew-grid-wrapper .pirate-crew-grid > .pirate-crew-grid-card {
        width: 100%;
    }

}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pirate-crew-icon-"],
[class*=" pirate-crew-icon-"] {

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;    /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pirate-crew-icon-yelp:before {
  content: "\e900";
}
.pirate-crew-icon-flattr:before {
  content: "\e902";
}
.pirate-crew-icon-xing:before {
  content: "\e903";
}
.pirate-crew-icon-xing2:before {
  content: "\e904";
}
.pirate-crew-icon-stumbleupon:before {
  content: "\e905";
}
.pirate-crew-icon-stumbleupon2:before {
  content: "\e906";
}
.pirate-crew-icon-delicious:before {
  content: "\e907";
}
.pirate-crew-icon-lastfm:before {
  content: "\e908";
}
.pirate-crew-icon-lastfm2:before {
  content: "\e909";
}
.pirate-crew-icon-hackernews:before {
  content: "\e90a";
}
.pirate-crew-icon-reddit:before {
  content: "\e90b";
}
.pirate-crew-icon-soundcloud:before {
  content: "\e90c";
}
.pirate-crew-icon-soundcloud2:before {
  content: "\e90d";
}
.pirate-crew-icon-yahoo:before {
  content: "\e90e";
}
.pirate-crew-icon-blogger2:before {
  content: "\e90f";
}
.pirate-crew-icon-ello:before {
  content: "\e910";
}
.pirate-crew-icon-wordpress2:before {
  content: "\e911";
}
.pirate-crew-icon-steam:before {
  content: "\e912";
}
.pirate-crew-icon-steam2:before {
  content: "\e913";
}
.pirate-crew-icon-500px:before {
  content: "\e914";
}
.pirate-crew-icon-deviantart:before {
  content: "\e915";
}
.pirate-crew-icon-twitch:before {
  content: "\e916";
}
.pirate-crew-icon-feed:before {
  content: "\e917";
}
.pirate-crew-icon-feed2:before {
  content: "\e918";
}
.pirate-crew-icon-sina-weibo:before {
  content: "\e919";
}
.pirate-crew-icon-renren:before {
  content: "\e91a";
}
.pirate-crew-icon-vk:before {
  content: "\e91b";
}
.pirate-crew-icon-vine:before {
  content: "\e91c";
}
.pirate-crew-icon-telegram:before {
  content: "\e91d";
}
.pirate-crew-icon-spotify:before {
  content: "\e91e";
}
.pirate-crew-icon-mail2:before {
  content: "\e91f";
}
.pirate-crew-icon-mail3:before {
  content: "\e920";
}
.pirate-crew-icon-arrow-down:before {
  content: "\e60f";
}
.pirate-crew-icon-arrow-left:before {
  content: "\e610";
}
.pirate-crew-icon-arrow-right:before {
  content: "\e611";
}
.pirate-crew-icon-close:before {
  content: "\e612";
}
.pirate-crew-icon-github:before {
  content: "\e901";
}
.pirate-crew-icon-mail:before {
  content: "\e945";
}
.pirate-crew-icon-link:before {
  content: "\e9cb";
}
.pirate-crew-icon-google-plus:before {
  content: "\ea8b";
}
.pirate-crew-icon-google-plus2:before {
  content: "\ea8c";
}
.pirate-crew-icon-hangouts:before {
  content: "\ea8e";
}
.pirate-crew-icon-google-drive:before {
  content: "\ea8f";
}
.pirate-crew-icon-facebook:before {
  content: "\ea90";
}
.pirate-crew-icon-facebook2:before {
  content: "\ea91";
}
.pirate-crew-icon-instagram:before {
  content: "\ea92";
}
.pirate-crew-icon-whatsapp:before {
  content: "\ea93";
}
.pirate-crew-icon-twitter:before {
  content: "\ea96";
}
.pirate-crew-icon-youtube:before {
  content: "\ea9d";
}
.pirate-crew-icon-vimeo:before {
  content: "\eaa0";
}
.pirate-crew-icon-vimeo2:before {
  content: "\eaa1";
}
.pirate-crew-icon-flickr:before {
  content: "\eaa3";
}
.pirate-crew-icon-flickr2:before {
  content: "\eaa4";
}
.pirate-crew-icon-dribbble:before {
  content: "\eaa7";
}
.pirate-crew-icon-behance:before {
  content: "\eaa8";
}
.pirate-crew-icon-behance2:before {
  content: "\eaa9";
}
.pirate-crew-icon-dropbox:before {
  content: "\eaae";
}
.pirate-crew-icon-wordpress:before {
  content: "\eab4";
}
.pirate-crew-icon-blogger:before {
  content: "\eab8";
}
.pirate-crew-icon-tumblr:before {
  content: "\eab9";
}
.pirate-crew-icon-tumblr2:before {
  content: "\eaba";
}
.pirate-crew-icon-skype:before {
  content: "\eac5";
}
.pirate-crew-icon-linkedin2:before {
  content: "\eac9";
}
.pirate-crew-icon-linkedin:before {
  content: "\eaca";
}
.pirate-crew-icon-stackoverflow:before {
  content: "\ead0";
}
.pirate-crew-icon-pinterest2:before {
  content: "\ead1";
}
.pirate-crew-icon-pinterest:before {
  content: "\ead2";
}
.pirate-crew-icon-foursquare:before {
  content: "\ead6";
}

/****************** Presets ***********************/

/*------------- Cards 1-----------*/
.cards-style.style-1 figure {
	overflow: hidden;
	padding: 30px 0 100px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.cards-style.style-1 figure::before {
	content: "";
	background: rgba(255, 255, 255, 0.9);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 37%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 37%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 37%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-moz-transform: translateY(100%) translateY(-90px);
	-webkit-transform: translateY(100%) translateY(-90px);
	-o-transform: translateY(100%) translateY(-90px);
	-ms-transform: translateY(100%) translateY(-90px);
	transform: translateY(100%) translateY(-90px);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	z-index: 1;
}

.cards-style.style-1 figure img {
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	max-width: 160px;
	margin: 0 auto;
	display: block;
}

.cards-style.style-1 figcaption {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	padding: 30px 20px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translateY(calc(100% - 100px));
	-webkit-transform: translateY(calc(100% - 100px));
	-o-transform: translateY(calc(100% - 100px));
	-ms-transform: translateY(calc(100% - 100px));
	transform: translateY(calc(100% - 100px));
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	text-align: center;
	z-index: 2;
	color: #000;
}

.cards-style.style-1 figcaption a {
	color: #000;
}

.cards-style.style-1 figcaption p {
	font-size: 14px;
}

.cards-style.style-1 .pirate-crew-contact-info {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	opacity: 0;
	visibility: hidden;
}

.no-touchevents .cards-style.style-1 figure:hover img,
.cards-style.style-1 figure.cs-hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.no-touchevents .cards-style.style-1 figure:hover figcaption,
.cards-style.style-1 figure.cs-hover figcaption,
.no-touchevents .cards-style.style-1 figure:hover::before,
.cards-style.style-1 figure.cs-hover::before {
	-webkit-transform: translateY(0px) translateY(0px);
	-moz-transform: translateY(0px) translateY(0px);
	-ms-transform: translateY(0px) translateY(0px);
	transform: translateY(0px) translateY(0px);
}

.no-touchevents .cards-style.style-1 figure:hover .pirate-crew-contact-info,
.cards-style.style-1 figure.cs-hover .pirate-crew-contact-info {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
}

/*------------- Cards 2-----------*/
.cards-style .pirate-crew-flip-back {
	font-size: 0;
}

.cards-style figcaption::after {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	width: 1px;
}

.cards-style .pirate-crew-flip-back-inner {
	display: inline-block;
	width: calc(100% - 1px);
	vertical-align: middle;
	font-size: 14px;
}

.cards-style.style-2 figure {
	overflow: hidden;
	text-align: center;
}

.cards-style.style-2 figure {
	transform-style: preserve-3d;
}

.cards-style.style-2 figure img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	max-width: 160px;
	margin: 0 auto;
	display: block;
}

.cards-style.style-2 .pirate-crew-flip-front,
.cards-style.style-2 figcaption {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	padding: 30px 20px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	-webkit-transition: -webkit-transform 0.6s, z-index 0.7s;
	-moz-transition: -moz-transform 0.6s, z-index 0.7s;
	transition: transform 0.6s, z-index 0.7s;
}

.cards-style.style-2 .pirate-crew-flip-front {
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	position: relative;
}

.cards-style.style-2 .pirate-crew-flip-front .pirate-crew-personal-info {
	padding-top: 20px;
}

.cards-style.style-2 figcaption {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.cards-style.style-2 figcaption a {
	color: #000;
}

.no-touchevents .cards-style.style-2 figure:hover .pirate-crew-flip-front,
.cards-style.style-2 figure.cs-hover .pirate-crew-flip-front {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.no-touchevents .cards-style.style-2 figure:hover figcaption,
.cards-style.style-2 figure.cs-hover figcaption {
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

/*------------- Cards 3-----------*/
.cards-style.style-3 figure {
	overflow: hidden;
	padding: 20px 20px 100px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.cards-style.style-3 figure::before {
	content: "";
	background: rgba(255, 255, 255, 0.9);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-moz-transform: translateY(100%) translateY(-90px);
	-webkit-transform: translateY(100%) translateY(-90px);
	-o-transform: translateY(100%) translateY(-90px);
	-ms-transform: translateY(100%) translateY(-90px);
	transform: translateY(100%) translateY(-90px);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	z-index: 1;
}

.cards-style.style-3 figure img {
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s;
}

.cards-style.style-3 figcaption {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	padding: 30px 20px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translateY(100%) translateY(-100px);
	-webkit-transform: translateY(100%) translateY(-100px);
	-o-transform: translateY(100%) translateY(-100px);
	-ms-transform: translateY(100%) translateY(-100px);
	transform: translateY(100%) translateY(-100px);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	text-align: center;
	z-index: 2;
	color: #000;
}

.cards-style.style-3 figcaption a {
	color: #000;
}

.cards-style.style-3 figcaption p {
	font-size: 14px;
}

.cards-style.style-3 .pirate-crew-contact-info {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	opacity: 0;
	visibility: hidden;
}

.no-touchevents .cards-style.style-3 figure:hover img,
.cards-style.style-3 figure.cs-hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.no-touchevents .cards-style.style-3 figure:hover figcaption,
.cards-style.style-3 figure.cs-hover figcaption,
.no-touchevents .cards-style.style-3 figure:hover::before,
.cards-style.style-3 figure.cs-hover::before {
	-webkit-transform: translateY(0px) translateY(0px);
	-moz-transform: translateY(0px) translateY(0px);
	-ms-transform: translateY(0px) translateY(0px);
	transform: translateY(0px) translateY(0px);
}

.no-touchevents .cards-style.style-3 figure:hover .pirate-crew-contact-info,
.cards-style.style-3 figure.cs-hover .pirate-crew-contact-info {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
}

/*------------- Cards 4 -----------*/
.cards-style.style-4 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}

.cards-style.style-4::after {
	display: none;
}

.cards-style.style-4 figure {
	padding: 20px 20px 0;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}

.cards-style.style-4 figure img {
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
}

.cards-style.style-4 figcaption {
	padding: 20px;
	text-align: center;
	z-index: 2;
	color: #000;
}

.cards-style.style-4 figcaption a {
	color: #000;
}

.cards-style.style-4 figcaption p {
	font-size: 14px;
}

.no-touchevents .cards-style.style-4 figure:hover img,
.cards-style.style-4 figure.cs-hover img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

 

.drawer-style.style-1 figcaption {
	position: absolute;
	left: 25px;
	right: 25px;
	top: 25px;
	bottom: 25px;
	padding: 30px;
	background: rgba(35, 35, 35, 0.8);
	color: #fff;
	text-align: center;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	font-size: 0;
}
 
/*------------- List 4-----------*/
.list-style figure img {
	max-width: 300px;
}

.pirate-crew-grid.list-style figcaption {
	overflow: hidden;
}

.pirate-crew-grid.list-style > .pirate-crew-grid-card {
	width: 100%;
	float: none;
	border-bottom: 1px solid rgba(35, 35, 35, 0.2);
	padding: 0 0 40px 0;
	margin-bottom: 40px;
}

.pirate-crew-grid.list-style > li:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.pirate-crew-grid.list-style h3 {
	font-size: 36px;
	margin: 0 0 10px;
	line-height: 1.1;
}

.pirate-crew-grid.list-style .pirate-crew-personal-info span {
	font-size: 14px;
}

.pirate-crew-grid-wrapper .pirate-crew-grid.list-style {
	margin: 0;
	padding: 0;
}

.list-style .pirate-crew-personal-info h3 {
	font-size: 18px;
	margin: 0 0 5px;
	line-height: 1.1;
}

.list-style figure {
	color: #111;
}

.list-style figcaption p {
	font-size: 16px;
}

.list-style .pirate-crew-social-icons span {
	margin: 0 1px 2px 1px;
	text-align: center;
	padding: 0;
}

.list-style .pirate-crew-contact-info a {
	color: #111;
	padding: 10px 0;
	width: 40px;
}

.list-style.style-1 .pirate-crew-contact-info {
	font-size: 16px;
}

.list-style.style-1 figure img {
	float: left;
	margin-right: 30px;
}

/*------------- List 2-----------*/
.list-style.style-2 figure img {
	float: right;
	margin-left: 30px;
}
 

/*------------ Table 1 -----------*/
.pirate-crew-table {
	display: table;
	width: 100%;
	color: #111;
}

.pirate-crew-table-row {
	display: table-row;
}

.pirate-crew-table-cell {
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}

.pirate-crew-table-row.pirate-crew-table-head .pirate-crew-table-cell {
	border: none;
}

.pirate-crew-table-cell .pirate-crew-table-cell-inner {
	max-width: 400px;
}

.table-style .pirate-crew-table-img-holder {
	max-width: 75px;
}

.pirate-crew-table-cell .pirate-crew-social-icons a {
	color: #111;
}

.table-style .pirate-crew-table-cell h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 1.235;
}

.table-style .pirate-crew-table-cell h2 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	line-height: 1.235;
}

.table-style .pirate-crew-table-cell p {
	margin-bottom: 10px;
}

.pirate-crew-table-description .pirate-crew-table-cell-inner {
	min-width: 240px;
}

.pirate-crew-table.style-1 .pirate-crew-table-row.pirate-crew-table-head .pirate-crew-table-cell {
	border-bottom: 2px solid #ccc;
}

.pirate-crew-table.style-1 .pirate-crew-table-cell {
	border-bottom: 1px solid #ccc;
}

/*------------ Table 2 -----------*/
.pirate-crew-table.style-2 .pirate-crew-table-row.pirate-crew-table-head .pirate-crew-table-cell {
	border-bottom: none;
}

.pirate-crew-table.style-2 .pirate-crew-table-cell {
	border-bottom: none;
}

.pirate-crew-table.style-2 .pirate-crew-table-row:nth-child(2n+1) {
	background-color: rgba(113, 113, 113, 0.04);
}

.pirate-crew-table.style-2 .pirate-crew-table-row.pirate-crew-table-head {
	background-color: #eee;
}

/*------------ Table 3 -----------*/
.pirate-crew-table.style-3 .pirate-crew-table-row.pirate-crew-table-head .pirate-crew-table-cell {
	background-color: #eee;
}

.pirate-crew-table.style-3 .pirate-crew-table-cell {
	border-bottom: 1px solid #ddd;
}

.pirate-crew-table.style-3 .pirate-crew-table-row:first-child .pirate-crew-table-cell {
	border-top: 1px solid #ddd;
}

.pirate-crew-table.style-3 .pirate-crew-table-row .pirate-crew-table-cell:first-child {
	border-left: 1px solid #ddd;
}

.pirate-crew-table.style-3 .pirate-crew-table-row .pirate-crew-table-cell:last-child {
	border-right: 1px solid #ddd;
}

@keyframes DownMove {
	0% {
		top: 50%;
	}

	5% {
		top: 60%;
	}

	10% {
		top: 50%;
	}

	15% {
		top: 60%;
	}

	20% {
		top: 50%;
	}

}

@-webkit-keyframes DownMove {
	0% {
		top: 50%;
	}

	5% {
		top: 60%;
	}

	10% {
		top: 50%;
	}

	15% {
		top: 60%;
	}

	20% {
		top: 50%;
	}

}

@-moz-keyframes DownMove {
	0% {
		top: 50%;
	}

	5% {
		top: 60%;
	}

	10% {
		top: 50%;
	}

	15% {
		top: 60%;
	}

	20% {
		top: 50%;
	}

}

@media screen and (max-width:830px) {

	.pirate-crew-table-description .pirate-crew-table-cell-inner {
		min-width: unset;
	}

}

@media screen and (max-width:700px) {
	.pirate-crew-grid.list-style figcaption {
		overflow: visible;
	}

	.list-style.style-2 figure img,
	.list-style.style-1 figure img {
		float: none;
		margin: 0 0 30px 0;
	}

	.pirate-crew-table,
	.pirate-crew-table-row,
	.pirate-crew-table-cell {
		display: block;
	}

	.pirate-crew-table.style-1 .pirate-crew-table-row {
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
	}

	.pirate-crew-table-row.pirate-crew-table-head {
		display: none;
	}

	.pirate-crew-table-cell {
		padding: 0;
		border: none;
	}

	.table-style .pirate-crew-table-img-holder {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.pirate-crew-table-designation,
	.pirate-crew-table-name {
		overflow: hidden;
	}

	.pirate-crew-table-description {
		clear: both;
	}

	.pirate-crew-table .pirate-crew-table-cell h2 {
		margin-bottom: 10px;
	}

	.pirate-crew-table .pirate-crew-table-cell h3 {
		margin-top: 0;
	}

	/*********** Clear Border and Styles *************/
	.pirate-crew-table.style-1 .pirate-crew-table-cell {
		border: none;
	}

	.pirate-crew-table-cell .pirate-crew-table-cell-inner {
		max-width: none;
	}

	.pirate-crew-table.style-2 .pirate-crew-table-row {
		padding: 20px 15px;
	}

	.pirate-crew-table.style-3 {
		border: 1px solid #ccc;
	}

	.pirate-crew-table.style-3 .pirate-crew-table-row {
		padding: 20px 15px;
		border-bottom: 1px solid #ccc;
	}

	.pirate-crew-table.style-3 .pirate-crew-table-row:last-child {
		border-bottom: none;
	}

	.pirate-crew-table.style-3 .pirate-crew-table-cell {
		border: none !important;
	}

}

@media screen and (max-width:650px) {
	 
	.pirate-crew-personal-details{
		max-height: 100%;
		overflow: visible;
	}
}

/* IE 10 and IE 11 Fix */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	.cards-style.style-1 figure::before {
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.4s, visibility 0.4s;
	}

	.no-touchevents .cards-style.style-1 figure:hover::before,
	.cards-style.style-1 figure.cs-hover::before {
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}

	.cards-style.style-2 .pirate-crew-flip-front,
	.cards-style.style-2 figcaption {
		-webkit-transition: -webkit-transform 0.6s, z-index 0.7s;
		-moz-transition: -moz-transform 0.6s, z-index 0.7s;
		transition: transform 0.6s, z-index 0.7s;
		-webkit-backface-visibility: visible;
		-moz-backface-visibility: visible;
		backface-visibility: visible;
	}

	.cards-style.style-2 figcaption {
		z-index: 1;
	}

	.cards-style.style-2 .pirate-crew-flip-front {
		z-index: 2;
	}

	.no-touchevents .cards-style.style-2 figure:hover figcaption,
	.cards-style.style-2 figure.cs-hover figcaption {
		z-index: 3;
	}

}

/* IE 9 fix */
:root .cards-style.style-2 figcaption {
	z-index: 1;
}

:root .cards-style.style-2 .pirate-crew-flip-front {
	z-index: 2;
}

:root .cards-style.style-2 figure:hover figcaption {
	z-index: 3;
}